body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 110px;
}
h1 {
  font-size: 120px;
  line-height: 140px;
  font-weight: 400;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

h1:hover + p {
  opacity: inherit;
  transition: opacity 0.4s;
}

.footer {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
